* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 800px;
    max-width: 800px;
    background-color: #ebf9ff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}


tr {
    vertical-align: middle;
}

td {
    border: none;
}



label {
    min-width: 300px;    
}

input, form input {
    min-width: 100px;
    max-width: 150px;
    border: none;
    box-shadow: 1px 1px 5px #00000010;
    padding: 5px;
    border-radius: 5px;
}

button {
    max-width: 150px;
}

.remove {
    opacity: 0.75;
}


